@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

h2 {
  font-size: 20px;
}

#faq-text {
  margin-top: 90px;
}

.text-secondary {
    color: #3d5d6f;
  }
  
  .h4,
  h4 {
    font-size: 13px;
  }
  .qn {
    font-size: 17px;
    font-weight: bold;
  }
  .ans {
    font-size: 15px;
  }

  #maincontent {
    margin-top: calc(90px + 10vh);
    margin-bottom: 10vh;
  }


  h2 {
    color: #333;
    font-size: 17px;
  }
  
  .fa,
  .fas {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: #800000;
  }
  
  .right-0 {
    right: 0;
  }
  
  .top-0 {
    top: 0;
  }
  
  .h-100 {
    height: 100%;
  }
  
  a.text-secondary:focus,
  a.text-secondary:hover {
    text-decoration: none;
    color: #22343e;
  }
  
  #accordion .fa-plus {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  #accordion a[aria-expanded=true] .fa-plus {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }